<ul>
    <li>
        <a asp-page="/TestFolder/TestPage1">Test Page 1</a>
    </li>
    <li>
        <a asp-page="/TestFolder/TestSubFolder/TestPage2">Test Page 2</a>
    </li>
    <li>
        <a asp-page="/TestFolder/TestPage3">Test Page 3</a>
    </li>
    <li>
        <a asp-page="/TestFolder/TestSubFolder/TestSubSubFolder/TestPage4">Test Page 4</a>
    </li>
</ul>